body {
font-family: 'Poiret One', cursive;
font-size: 18px;
font-weight: lighter;
background-color: #e6f2ed;
line-height: 1.6;
}

.container {
margin: 50px auto;
width: 100%;
padding-left: 20px;
}

.banner {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1490380169520-0a4b88d52565?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
background-size: cover;
background-position: center;
padding: 120px 0;
color: white;
font-size: 26px;
font-weight: bold;

}
div {
  display: block;
}
.link {
  font-size: 25px;
  font-weight: bold;
  margin: 18px;
  color: #0d93a5;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
